.cartitems{
   margin: 100px 170px; 
}
.cartitems hr{
  height: 3px;
  background: #e2e2e2;
  border: none;
  
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 10px 0;
}
.cartitems-format{
   
    font-weight: 500;
}
.carticon-product-icon{
    height: 72px;
    border-radius: 10px;
    cursor: pointer;
}
.cartitems-remove-icon{
width: 15px;
margin: 0 40px;
cursor: pointer;
}

.cartitems-quantity{
  width: 64px;
  height: 50px;
  background: #fff;
  border:2px solid #ebebeb;
  border-radius: 15px;

}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item{
display: flex;
justify-content: space-between;
padding: 15px 0;
}
.cartitems-total button {
    width: 262px;
    height: 58px;
    border-radius: 45px;
    border: none;
    outline: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    /* display: flex; */
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
  color: #555;
}

.cartitems-promobox{
    width: 504px;
margin-top: 15px;
padding-left: 20px;
height: 58px;
border-radius: 45px;
display: flex;
align-items: center;
background: #eaeaea;
}
.cartitems-promobox input{
border: none;
outline: none;
width: 330px;
height: 50px;
font-size: 16px;
background: transparent;
}
.cartitems-promobox button{
background: #000;
width: 200px;
height: 50px;
border-radius: 45px;
padding: 25px;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 600;
cursor: pointer;
}