.navbar {
  display: flex;
  justify-content: space-around;
  padding:18px;
  box-shadow: 0 1px 3px -2px black;
  
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  font-size: 20px;
  color: #626262;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu li hr {
  border: none;
  width: 90%;
  height: 3px;
  background: #eb423f;
  border-radius: 80%;
  
}

.nav-login-card {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-card button {
  width: 157px;
  height: 58px;
  border-radius: 75px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  background: white;
  color: #515151;
  border: solid 1px #7a7a7a;
}


.nav-login-card button:active{
    background: #f3f3f3;
}

.nav-card-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    background-color: #eb423f;
    color: white;

}
